html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: 'Arial';
    line-height: 1.6;
    color: #100F0F;
    background-color: #E1DDD2;
    overflow-y: auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #100F0F;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

form {
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-input-wrapper {
    position: relative;
    display: inline-block;
}

.file-input-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.file-label, .submit-btn {
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #100F0F;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    width: 125px;
    text-align: center;
}

.submit-btn {
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    font-weight: normal;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: rgba(16, 15, 15, 0.1);
}

.submit-btn:disabled {
    background-color: rgba(16, 15, 15, 0.1);
    cursor: not-allowed;
}

.message {
    background-color: transparent;
    padding: 15px;
    border-radius: 4px;
    margin-top: 20px;
}

.info {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.info h2 {
    color: #100F0F;
    margin-top: 0;
}

.download-link {
    color: #100F0F;
    text-decoration: underline;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
    color: #100F0F;
    padding: 10px 0;
}

footer a {
    color: #100F0F;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media screen and (max-height: 800px) {
    footer {
        position: relative;
    }
}

#file-name {
    margin-left: 10px;
    color: #100F0F;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}